.fade-enter {
  opacity: 0;
  transform: scale(0.9);
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
}

.fade-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.step-overlay::before {
  content: '';
  position: absolute;
  top: var(--highlight-top, 0);
  left: var(--highlight-left, 0);
  transform: translate(-50%, 0);
  width: var(--highlight-width, 0);
  height: var(--highlight-height, 0);
  background: transparent;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5); /* Creates the hole */
  pointer-events: auto; /* Allow interactions within the hole */
}
